@import "tailwindcss";

@theme {
  --color-fundo-principal: #0B0B10;
  --color-fundo-secundario: #111118;
  --color-cards: #181820;
  --color-cards-destacados: #20202A;
  --color-hover-card: #282834;
  --color-buttonPrincipal: #CCFF00
}